{% extends 'meta_layout.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block panel_body %}
    <div class="row">
        <div class="col-md-4">
            <div class="jumbotron">
                <h2>What were we thinking?</h2>
                <p>
                    I dont know anymore...
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron">
                <h2>Where did it start?</h2>
                <p>
                    Idea state U and then to hackathon. After that is unclear, all hope is lost.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron">
                <h2>What makes this application different?</h2>
                <p>
                    Its worse in most ways possible.
                </p>
            </div>
        </div>
    </div>
{% endblock %}