@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');
body{
    font-family: 'Roboto';
}
#usernameFormGroup {
    padding-top: 2%;
}

#passwordFormGroup {
    padding-top: 2%;
}

.panel-footer {
    text-align: center;
}

.panel-body {
    background-image:url('../images/bw-cover.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 125px);
}

#btn_login {
    margin-top: 2%;
}

.jumbotron {
    text-align: center;
}

h1{
    font-size: 5em;
    font-weight: 300;
}
h2{
    font-size: 3em;
    font-weight: 300;
}

#motd{
        margin-top: 10%;

}
#motd h1, h2, h3{
    text-align: left;
}
.center{
    text-align: center;
}
.navbar{
    margin:0;
    border-radius:0;
    background-color:#202125;
    padding:2em;
}
#call-btn{
    text-align:left;
}
@media screen and (min-width: 1200px){
    #motd h1,h2,h3{
        text-align: center;
    }
    #call-btn{
        text-align: center;
    }
}
.btn{
    border-radius: 0;
    background-color: #991223;
    padding: 1em;
    margin-top:3em;
}
a.btn{
    color:#fff;
    font-family: 'Roboto';
    font-size: 1.2em;
    text-decoration: none;
}
a.btn:hover{
    color:#ccc;
}
.navbar a{
    color:#fff;
    font-family: 'Roboto';
    font-size: 1.22em;
}
nav>li>a:hover{
    background-color: #202125;
    color: #000;
}
.profile{
    height: 15em;
    filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome */
}
h5, h6{
    text-align: center;
}