@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');
body{
    font-family: 'Roboto';
}
#usernameFormGroup {
    padding-top: 2%;
}

#passwordFormGroup {
    padding-top: 2%;
}

.panel-footer {
    text-align: center;
}

.panel-body {
    background-image:url('../images/bw-cover.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 125px);
}

#btn_login {
    margin-top: 2%;
}

.jumbotron {
    text-align: center;
}

h1{
    font-size: 5em;
    font-weight: 300;
}
h2{
    font-size: 3em;
    font-weight: 300;
}

#motd{
        margin-top: 10%;

}
#motd h1, h2, h3{
    text-align: left;
}
.center{
    text-align: center;
}
.navbar-inverse{
    margin:0;
}
@media screen and (min-width: 1200px){
    #motd h1,h2,h3{
        text-align: center;
    }
}